.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background:  rgb(254, 254, 254)   ;
    z-index: 555;
   
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 28px;
    
}

.header__menu-list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__menu-item a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
}

.nav__active{
    font-weight: 700 !important;
    border-bottom:3px solid #46A358;

    padding-bottom: 25px;
}
.header__icons{
    display: flex;
    align-items: center;
    gap: 30px;
}

.header__line{
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    border: 0.3px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 12px;
}

.header__icons-cart{
    position: relative;
    cursor: pointer;
}
.header__card-number {
    position: absolute;
    top: 0px;
    right: -9px;
    font-weight: 500 !important;
    font-size: 9px;
    padding-top: 2px;
    width: 18px;
    height: 13px;
    padding-left: 5px;
    padding-bottom: 16px;
    background: #46A358;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #FFFFFF;
}

.header__button{
    border: none;
    padding: 10px 18px;
    background: #46A358;
    border-radius: 6px;
    display: flex;
    align-items: center !important;
    gap: 4px;
}

.header__button{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
    color: #FFFFFF;
    
}